S3method(plot,mg)
S3method(print,BGC)
S3method(print,DCCSWA)
S3method(print,DGPA)
S3method(print,DSTATIS)
S3method(print,FCPCA)
S3method(print,mgpca)
S3method(print,summarize)
export(BGC)
export(DCCSWA)
export(DGPA)
export(DSTATIS)
export(FCPCA)
export(TBWvariance)
export(deflation)
export(loadingsplot)
export(mgPCA)
export(normM)
export(normv)
export(scoreplot)
export(summarize)
